body{
	background: url(http://img580.imageshack.us/img580/3695/1pg1.jpg) cover;
}
.chat-log {
    font-size: 10pt;
    background: url("https://dl.dropboxusercontent.com/u/165566535/yveltal.png") no-repeat scroll right bottom;
    color: rgb(0, 0, 0);
    overflow: auto;
}
.menugroup .button:hover {
    background: none repeat scroll 0% 0% rgb(20, 0, 159);
    opacity: 0.8;
}
.menugroup .button:hover {
    background: -moz-linear-gradient(center top , rgb(119, 158, 196), rgb(64, 107, 149)) repeat scroll 0% 0% transparent;
    border-color: rgb(32, 53, 74);
}

.ps-room.ps-room-light {
    color: black;
}

.chat-log-add {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    min-height: 36px;
    padding: 3px 4px 0px;
    border-top: 1px solid rgb(72, 61, 139);
}

.mainmenufooter small:after {
      content: "Amethyst server by Mustang";
      text-shadow: 0 1px black;
      position: absolute;
      left: 0px;
      top: -40px;
      width: 200px;

}

.battle-log {
position: absolute;
text-align: left;
border: 1px solid #C0C0C0;
background: #f3c0f4;
color: black;
top: 9px;
left: 640px;
right: -1px;
height: 360px;
font-family: Verdana,sans-serif;
font-size: 10pt;
overflow: auto;
overflow-y: scroll;
-webkit-overflow-scrolling: touch;
overflow-scrolling: touch;
}

.message-pm {

color: #5c3566;

}

.setchart input:focus, .setchart-nickname input:focus, .statform input.inputform:focus, .textbox:focus {
    outline: 0px none;
    border: 1px solid rgb(0, 68, 136);
    box-shadow: 0px 1px 2px rgb(210, 210, 210) inset, 0px 0px 5px rgb(34, 102, 170);
    background: none repeat scroll 0% 0% rgb(255, 255, 255);
}

.tabbar{

  bottom: 0;

  }

.userbar{

  top: 18px;

  }



  .userbar .username {

        text-shadow: none;

        text-shadow: 1px 1px black;

}

  

.userbar:before{

  display: block;

  content:"";

        width:80px;

        height: 32px;

        float: right;

        position: relative;

        top: -9px;

      }

  

.icon-user{

     display:none; 

    }



.siderooms{

background: #161616;

      height: 56px;

    }

    

.maintabbarbottom {

background: linear-gradient(to bottom, rgba(0,0,0,.6) 0%, rgba(0,0,0,0) 100%);

border: none;

  box-shadow: none;

  z-index:2;

}



.header {

height: 56px;

  background: #161616;

}



.header .logo {

float: left;

margin: 7px 0px 0 2px;

}

.menugroup .button {
    opacity: 0.4;
    font-size: 12pt;
    font-family: Verdana,Helvetica,Arial,sans-serif;
    display: inline-block;
    padding: 1px;
    width: 200px;
    text-align: center;
    text-decoration: none;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(170, 170, 170);
    background: none repeat scroll 0% 0% rgb(152, 46, 221);

.userlist,
.userlist li
{
        display: block;
        list-style-type: none;
        margin: 0;
        padding: 0;
        text-align: left;
}
.userlist
{
        border-left: 1px solid #a066aa;
        min-height: 100%;
        background: #f3c0f4;
}
.userlist li
{
        border-bottom: 1px solid #a066aa;
        height: 19px;
        font: 10pt Verdana, sans-serif;
        white-space: nowrap;
}
.userlist li em.group
{
        font-style: normal;
        font-size: 8pt;
        color: #a066aa;
        display: block;
        float: left;
        text-align: center;
        padding: 1px 0 0 1px;
        width: 14px;
}
.userlist li button
{
        box-sizing: border-box;
        display: block;
        height: auto;
        background: transparent;
        border: 0;
        padding: 0;
        margin: 0;
        height: 19px;
        width: 100%;
        white-space: nowrap;
        font: 10pt Verdana, sans-serif;
        text-align: left;
        cursor: pointer;
}
.userlist li button:hover
{
        background: #62A9FA;
}
.userlist li button:active
{
        background: #62A9FA;
}
.userlist li.cur
{
        background: #62A9FA;
}
.userlist li.cur button,
.userlist li.cur button:hover
{
        background: #62A9FA;
        margin: 0 0 0 -1px;
}
